<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Form</title>
</head>
<body>

 <!-- <form action="/some page" id="form" method="post"> -->
  <form id="myForm" action="http://localhost:3000/createStudentStatus" method="POST">  
   <!-- <label>Id:<input id="id" name="id" value="2"></label> -->
   <label>First name:<input id="firstname" name="firstname" value="John"></label>
   <label>Middle name:<input id="middlename" name="middlename" value="Doe"></label>
   <label>Surname:<input id="surname" name="surname" value="Rockefeller"></label>
   <label>Age:<input id="age" name="age" value="22"></label>

   <input type="submit" value="Submit">
 </form>
 <script>

// document.getElementById("myForm").addEventListener("submit", function (e) {
//   e.preventDefault();
//   // getData(e.target);
//   postData(e.target).then();
// });

//  async function postData(form) {
//   var formData = new FormData(form);
//   console.log("running postData");

//   const data = Object.fromEntries(formData);

//   const options = {
//    method: 'POST',
//    headers: {
//       'Content-Type': 'application/json'
//     },
//    body: JSON.stringify(data)
//   };
  
//   // POST form data til frontend-konsollen på siden /form;
//   const res = await fetch('formPost', options);
//   const dataResponse = await res.json();
  
//   console.log("dataResponse: ", dataResponse);
//  };

</script>
</body>



</html>