<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Form</title>
</head>
<body>

 <!-- <form action="/some page" id="form" method="post"> -->
  <form id="myForm">  
   <label>Name:<input id="name" name="name" value="John Doe"></label>
   <label>Age:<input id="age" name="age" value="22"></label>
   <input type="submit" value="Submit">
 </form>
 <script>

document.getElementById("myForm").addEventListener("submit", function (e) {
  e.preventDefault();
  // getData(e.target);
  postData(e.target).then();
});

 async function postData(form) {
  var formData = new FormData(form);
  console.log("running postData");

  const data = Object.fromEntries(formData);

  const options = {
   method: 'POST',
   headers: {
      'Content-Type': 'application/json'
    },
   body: JSON.stringify(data)
  };
  
  // fetch('formPost');
  const res = await fetch('formPost', options);
  const dataResponse = await res.json();
  console.log(dataResponse);
 };

//   function getData(form) {
//   var formData = new FormData(form);

//   for (var pair of formData.entries()) {
//     console.log(pair[0] + ": " + pair[1]);
//   }

//   console.log(Object.fromEntries(formData));
// }

</script>
</body>



</html>