<!-- // terminal: npm i json-server (lokalt)-->
<!-- // terminal: npm i -g json-server (globalt)-->
<!-- // terminal: json-server db.json (hvis installeret globalt)--> 
<!-- // terminal: npx json-server db.json --portnummer (hvis installeret lokalt)--> 
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <!-- <script src="../public/apiResponse.js" id="data" type="application/json"></script> -->

 <title>Student</title>
</head>
<body>
 <h1>Student finder</h1>
 
 <div id="students"></div>

 <form id="getStudentIDForm" action="http://localhost:3000/showStudent" method="POST">
  <input id="id" name="id">
  <input type="submit" value="Submit">
 </form>

</body>

</html>